.currency-convertor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  /* & form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  } */
  /* .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } */
  & button {
    width: 100%;
    padding: 0.5rem 0.75rem;
    border-radius: var(--border-radius);
    border: none;
    outline: none;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: var(--secondary-color);
    color: var(--light-color);
    margin-top: 2rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: var(--currency-color);
    }
  }
  #result {
    background-color: var(--currency-color);
    font-weight: 600;
    padding: 0.5rem;
    width: 100%;
    margin-top: 1rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    text-align: center;
    &.show {
      animation: scaleUp 0.3s ease-in-out;
    }
  }
}
@keyframes scaleUp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
